{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<form method="POST">
    <div class="form-group">
        <label for="id">Admin ID</label>
        <input type="text" class="form-control" id="id" name="id" placeholder="Enter admin ID">
    </div>
    <div class="form-group">
        <label for="name">Full name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter full name">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}